<a href="https://colab.research.google.com/github/sujag281/dataanalysis/blob/main/3%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%BB%AC%EB%A0%89%EC%85%98%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####4/2 (02.교안-파이썬기초-파이썬기초프로그래밍 p72)
###컬렉션자료형

###리스트 생성

In [4]:
# 빈 리스트 생성
a =[]
a=list()
print(type(a))
print(a) #빈리스트가 나온다

<class 'list'>
[]

In [10]:
#초기 데이터 넣고 리스트 생성
import math
a = [1,2,3,4,5]
a = [1,'apple','딸기',3.14, math.pi,max([10,30,20])]
b = [1,2,a,['사과','딸기'],{'k':'kiwi'}]
print(a)
print(b)

[1, 'apple', '딸기', 3.14, 3.141592653589793, 30]
[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 30], ['사과', '딸기'], {'k': 'kiwi'}]

In [19]:
print(b)
for i in b: #for 반복문, b란 이름의 리스트 안에 있는 요소를 하나씩 출력하는 코드
  print(i)

[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 30], ['사과', '딸기'], {'k': 'kiwi'}]
1
2
[1, 'apple', '딸기', 3.14, 3.141592653589793, 30]
['사과', '딸기']
{'k': 'kiwi'}

In [24]:
numlist = []
for num in range(1,21,2): #for 반복만, range():정수를 순차로 발생시키는 함수
    numlist.append(num) #리스트에 데이터 추가
print(numlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

###리스트 요소에 접근

In [27]:
colors = ['빨강','초록','파랑','노랑','검정']
print(colors[0]) #값만 나옴, 범위를 지정하면 리스트로 나옴
print(colors[2:4]) #2번째부터 4번째미만
print(colors[::-1]) #거꾸로 정렬

for color in colors:
    print(f"나는 '{color}'색상을 좋아합니다.")

빨강
['파랑', '노랑']
['검정', '노랑', '파랑', '초록', '빨강']
나는 '빨강'색상을 좋아합니다.
나는 '초록'색상을 좋아합니다.
나는 '파랑'색상을 좋아합니다.
나는 '노랑'색상을 좋아합니다.
나는 '검정'색상을 좋아합니다.

###리스트에 요소 추가하기

In [30]:
print(colors)

#인덱스 2 위치에 '분홍'넣기
colors.insert(2,'분홍')
print(colors)

#맨 뒤에 추가하기
colors.append('보라')
print(colors)

['빨강', '초록', '분홍', '파랑', '노랑', '검정']
['빨강', '초록', '분홍', '분홍', '파랑', '노랑', '검정']
['빨강', '초록', '분홍', '분홍', '파랑', '노랑', '검정', '보라']

### 리스트 특정위치의 요소값 변경

In [37]:
colors[3] = '주황'
print(colors)
colors[1:3]='갈색' #범위를 지정하면 그범위에 퍼져서 변경됨
print(colors)
colors[1:3]=['갈색','고동']
print(colors)
colors[1:4]='갈색' #자리수가 안 맞으니 주황이 없어짐 #주의!!! 인덱스의 개수가 다르면 대체가 안되고 없어짐.
print(colors)

['빨강', '갈색', '고동', '주황', '파랑', '노랑', '검정', '보라']
['빨강', '갈', '색', '주황', '파랑', '노랑', '검정', '보라']
['빨강', '갈색', '고동', '주황', '파랑', '노랑', '검정', '보라']
['빨강', '갈', '색', '파랑', '노랑', '검정', '보라']

###리스트의 요소 삭제

In [42]:
colors = ['빨강','초록','파랑','노랑','검정','노랑']
# 맨 뒤에 있는 것 삭제(꺼내기)
colors.pop()
print(colors)

#요소값과 일치하는 것 삭제
colors.remove('노랑')
print(colors)

#전체 요소 삭제 (내용지우기)
colors.clear()
print(colors)

['빨강', '초록', '파랑', '노랑', '검정']
['빨강', '초록', '파랑', '검정']
[]

###리스트 자체 삭제

In [44]:
del(colors)
print(colors)

NameError: name 'colors' is not defined

###2차원/3차원...리스트 요소 접근

In [51]:
animals = ['사자','호랑이','곰',['고양이','강아지',['돌고래','범고래'],'햄스터']]

print(animals)
print(animals[1])
print(animals[3])
print(animals[3][1])
print(animals[3][2][1]) # 3번째,고양이범주,돌고래범주에서 범고래나오기

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
호랑이
['고양이', '강아지', ['돌고래', '범고래'], '햄스터']
강아지
범고래

###리스트 길이(요소의 개수)

In [53]:
print(animals)
print(len(animals))
print(len(animals[3]))
print(len(animals[3][2]))

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
4
4
2

### 리스트 함수

In [60]:
colors = ['빨강','초록','파랑','노랑','검정','노랑']
# 리스트 요소 정렬
print(colors)
colors.sort()  #순차 정렬(가나다순)
print(colors)

colors.reverse() #역순정렬
print(colors)

# 리스트의 특정 요소 위치 찾기
print(colors.index('빨강'))
print(colors.index('노랑')) #여러개 있을경우 맨앞의 인덱스 나타내기

#요소값 개수세기
print(colors.count('노랑'))
print(f"요소값 개수세기 : {colors.count('노랑')}")

#리스트 정렬해서 새로운 이름을 저장해서 사용
new = sorted(colors)
print(new)

['빨강', '초록', '파랑', '노랑', '검정', '노랑']
['검정', '노랑', '노랑', '빨강', '초록', '파랑']
['파랑', '초록', '빨강', '노랑', '노랑', '검정']
2
3
2
요소값 개수세기 : 2
['검정', '노랑', '노랑', '빨강', '초록', '파랑']

In [66]:
colors = ['빨강','초록','파랑','노랑','검정','노랑']
newColors = ['red','green','blue']
print(colors)
print(newColors)
colors.extend(newColors) #colors에 newColors를 합쳐라

print(colors)

['빨강', '초록', '파랑', '노랑', '검정', '노랑']
['red', 'green', 'blue']
['빨강', '초록', '파랑', '노랑', '검정', '노랑', 'red', 'green', 'blue']

In [67]:
colors = ['빨강','초록','파랑','노랑','검정','노랑']
newColors = ['red','green','blue']
print(colors)
print(newColors)
colors+=newColors #colors에 newColors를 합쳐라
print(colors)

['빨강', '초록', '파랑', '노랑', '검정', '노랑']
['red', 'green', 'blue']
['빨강', '초록', '파랑', '노랑', '검정', '노랑', 'red', 'green', 'blue']

##3-2.딕셔너리(Dictionary)

### 딕셔너리 자료 생성

In [68]:
dic = dict() # 빈 딕셔너리 생성
dic={}       # 빈 딕셔너리 생성
print((type(dic)))

<class 'dict'>

In [73]:
members = {1:'이승철', 2:'박정현', 'bts':['진','RM','뷔','지민']}
print(members)
print(members[2]) #2는 키값, 밸류값이 프린트됨
print(members['bts']) #bts의 밸류값이 프린트됨
print(members['bts'][1]) #bts의 2번째값이 프린트됨
print(len(members))

{1: '이승철', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민']}
박정현
['진', 'RM', '뷔', '지민']
RM
3

####key통해서 value에 접근할수 있다

In [79]:
members = {1:'이승철', 2:'박정현', 'bts':['진','RM','뷔','지민']}
for key in members:

    print(f"Key->{key},Value->{members[key]}")

Key->1,Value->이승철
Key->2,Value->박정현
Key->bts,Value->['진', 'RM', '뷔', '지민']

###딕셔너리에서 자주 사용하는 함수
딕셔너리는 순서가 따로 있진 않음

In [80]:
members = {1:'이승철', 2:'박정현', 'bts':['진','RM','뷔','지민']}
print(members.keys()) #key만 모아둔 것
print(members.values()) #key만 모아둔 것
print(members.items())  #key,value 쌍으로 모아둔 것

dict_keys([1, 2, 'bts'])
dict_values(['이승철', '박정현', ['진', 'RM', '뷔', '지민']])
dict_items([(1, '이승철'), (2, '박정현'), ('bts', ['진', 'RM', '뷔', '지민'])])

In [84]:
# for (key,value) in members.items():
for (key,value) in members.items():
    print(key,value)

for key in members.keys(): ####
  print(key.members[key])

1 이승철
2 박정현
bts ['진', 'RM', '뷔', '지민']

AttributeError: 'int' object has no attribute 'members'

In [90]:
members = {1:'이승철', 2:'박정현', 'bts':['진','RM','뷔','지민']}
print(members)
# 요소 추가
members[3] = 'NCT Dream'
members['소속사'] = ['하이브','SM기획']
print(members)

# 요소 수정
members[1] = '세븐틴'
print(members)

# 요소 삭제
del(members['소속사'])
print(members)

#딕셔너리 삭제
del(members)
print(members)

{1: '이승철', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민']}
{1: '이승철', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream', '소속사': ['하이브', 'SM기획']}
{1: '세븐틴', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream', '소속사': ['하이브', 'SM기획']}
{1: '세븐틴', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream'}

NameError: name 'members' is not defined

##3-3. 튜플(Tuple)

### 튜플 생성

In [96]:
tup = tuple() # 빈 튜플 생성
tup = ()
print(type(tup))

a =[1,2,3,4]
print(a)
print(tuple(a)) #리스트를 튜플로 변환 대괄호에서 소괄호로 바뀜

<class 'tuple'>
[1, 2, 3, 4]
(1, 2, 3, 4)

In [99]:
tup = ('사과')   #괄호는 묶음의 의미로 해석
print(type(tup))
tup = ('사과',) # 튜플에서 요소가 하난일 때는 반드시 맨 뒤에 ,(쉼표) 추가
print(type(tup))

<class 'str'>
<class 'tuple'>

In [100]:
tup = ('사과')
tup.append = ('사과')

AttributeError: 'str' object has no attribute 'append'

In [101]:
help(tuple) #튜플에서 쓸 수 있는 함수 확인가능

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      MonthDayNano
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
help(list) #자료형에 대한 도움말

###튜플은 변수를 정의할 때/함수의 파라미터의 정의에 사용

In [102]:
a,b =100, 200
a,b =100, [1,2,3]
print(a)
print(b)

100
[1, 2, 3]

In [103]:
def nSum(a,b):     #parameter
    return a + b

nSum(100,200)   #argument

300