<a href="https://colab.research.google.com/github/sujag281/dataanalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88(%EB%B0%98%EB%B3%B5%EB%AC%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4/4 (02.교안-파이썬기초-파이썬기초프로그래밍 p118)
#5.파이썬 반복문

##5-1.for 반복문
유한개수의 반복

###1.다양한 반복문

In [4]:
#1.range()함수 이용 : 정수를 차례로 발생시키는 함수
#for 변수 in range(0,3,1) :
for 변수 in range(0,3,1) :
    print(변수)
for 변수 in range(3):  #간략히 이렇게도 가능함
    print(변수)

0
1
2
0
1
2

In [20]:
#2.리스트 이용
a=list(range(1,11))
print(a)
a=list(range(10,0,-1))
print(a)
a=list(range(1,11))
for i in a :
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
1
2
3
4
5
6
7
8
9
10

In [15]:
for i in a :
    print(i, end=' ')  #공백 넣어 나란히 정렬

1 2 3 4 5 6 7 8 9 10

In [16]:
for i in a :
    print(i, end=',') #쉼표 넣어 나란히 정렬

1,2,3,4,5,6,7,8,9,10,

In [21]:
#한줄로 표현하는 방법
for i in range(1,101) :
    print(i,end=',')   #숙제

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [22]:
#3.문자열 이용
for i in 'python' :
    print(i)

p
y
t
h
o
n

In [24]:
#4.변수 사용안하고 반복만 할 때
for _ in range(3) :
    print('좋은아침!')

좋은아침!
좋은아침!
좋은아침!

In [27]:
#5.리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사용
fruits= ['사과','포도','딸기','키위']
for idx, fruit in enumerate(fruits) : #인덱스와 함께 표시됨
    print(idx,fruit)

idx=0                              #길게 풀어쓰면 이렇게 됨 간략히 한것이 위와 같은 방식
for fruit in fruits :

idx=idx+1

0 사과
1 포도
2 딸기
3 키위

In [35]:
#6.컬렉션 자료형 특징 이용
for a,b in [(1,2),(3,4),(5,6)] :
    print(a,b)
print('-'*30)

dic = {1:'사과',2:'포도'}
for key in dic :
    print(key, dic[key])  #key,value모두 출력하려면 이렇게
print('-'*30)

for key,value in dic.items() : #혹은 이렇게
    print(key, value)
print('-'*30)

# 집합
for v in {1,2,3,3,4,5,3}: #집합은 중복된거 배제하고 나옴
    print(v)

1 2
3 4
5 6
------------------------------
1 사과
2 포도
------------------------------
1 사과
2 포도
------------------------------
1
2
3
4
5

In [51]:
#1~N까지 합계구하기
n=int(input('합계를 구할 숫자를 입력하세요 : '))
hap = 0                                       #합이 0지정
for i in range(1,n+1) :
    if i%2 !=0:                               #나머지가 0이 아니라면
        hap = hap + i                         #합에 넣어라
print(f"1~{n}까지 짝수 제외한 합은 : {hap}")

합계를 구할 숫자를 입력하세요 : 10
1~10까지 짝수 제외한 합은 : 25

In [50]:
n=int(input('합계를 구할 숫자를 입력하세요 : '))
hap = 0
for i in range(1,n+1,2) :
        hap = hap + i
print(f"1~{n}까지 짝수 제외한 합은 : {hap}")

합계를 구할 숫자를 입력하세요 : 10
1~10까지 짝수 제외한 합은 : 25

In [49]:
n=int(input('합계를 구할 숫자를 입력하세요 : '))
hap = [i for i in range(1,n+1,2)]  #2씩 더한 수를 리스트에 입력
print(hap)

#print(f"1~{n}까지 짝수 제외한 합은 : {hap}")

합계를 구할 숫자를 입력하세요 : 10
[1, 3, 5, 7, 9]

In [48]:
n=int(input('합계를 구할 숫자를 입력하세요 : '))
hap = sum([i for i in range(1,n+1,2)])
print(f"1~{n}까지 짝수 제외한 합은 : {hap}")

합계를 구할 숫자를 입력하세요 : 10
1~10까지 짝수 제외한 합은 : 25

###[실습문제] 정오각형 그리기
-turtle모듈은 코랩에서는 사용할 수 없음
-pc에서 사용하기

In [53]:
import turtle

t=turtle.Pen()
t.forward(100)
t.right(72)

turtle.exitonclick()

TclError: no display name and no $DISPLAY environment variable

###[실습문제] 1~100숫자를 1줄로 출력하기

In [60]:
for i in range(1,101) :
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [59]:
for i in range(1,101) : print(i,end=' ') #간략히 이렇게 해도 됨

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [63]:
print(' '.join([str(i) for i in range(1,101)])) #join은 문자열에서만 가능

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [93]:
scores = [90, 25, 67, 45, 80]
idx=1
for idx,score in enumerate(scores) : #인덱스와 함께 표시됨
    if score >= 60:
        print(f"{idx+1}번 학생은 {i}점은  합격입니다.")
    else :
         print(f"{idx+1}번 학생은 {i}점은  불합격입니다.")

1번 학생은 90점은  합격입니다.
2번 학생은 90점은  불합격입니다.
3번 학생은 90점은  합격입니다.
4번 학생은 90점은  불합격입니다.
5번 학생은 90점은  합격입니다.

In [90]:
import random
#방법 1
#score = [90, 25, 67, 45, 80]

#방법2 :빈리스트 만들어서 임의의 숫자 리스트에 추가
#scores=[]
#for _ in range(5) :
#  scores.append(random.randint(1,101))

scores = [random.randint(1,101) for _ in range(5)]

for idx,score in enumerate(scores) : #인덱스와 함께 표시됨
    if score >= 60:
        print(f"{idx+1}번  학생은 {score}점은  합격입니다.")
    else :
         print(f"{idx+1}번  학생은 {score}점은  불합격입니다.")

1번  학생은 60점은  합격입니다.
2번  학생은 99점은  합격입니다.
3번  학생은 16점은  불합격입니다.
4번  학생은 20점은  불합격입니다.
5번  학생은 19점은  불합격입니다.

In [91]:
#방법3 :방법2를 한줄로 표현
import random
scores = [random.randint(1,101) for _ in range(5)]
for idx,score in enumerate(scores) :
    result = '합격' if score>60 else '불합격'
    print(f"{idx+1}번  학생은 {score}점 : {result}입니다.")

1번  학생은 8점 : 불합격입니다.
2번  학생은 75점 : 합격입니다.
3번  학생은 76점 : 합격입니다.
4번  학생은 38점 : 불합격입니다.
5번  학생은 97점 : 합격입니다.

In [136]:
a_list = list(input('괄호 : '))  ##직접, 오류확인하기
print(a_list)
sum=0
if '(' :
    sum=sum+1
else :
    sum=sum-1
print(sum)

괄호 : ()
['(', ')']
1

In [120]:
p_list = list(input('괄호 : '))   ### 확인필요
print(p_list)

t=0
for p in p_list :
    if p=='(' :
        t +=1
    elif p==')' :
        t-=1
    if t<0:
        break
if t==0:
    print('결과:True')
else :
    print('결과:False')

괄호 : (((())))
['(', '(', '(', '(', ')', ')', ')', ')']
결과:True

##중첩 for 반복문 : 반복문 안에 반복문

In [112]:
for i in range(3) :
    for j in range(3) :
        print(f"i:{i},j:{j}")

i:0,j:0
i:0,j:1
i:0,j:2
i:1,j:0
i:1,j:1
i:1,j:2
i:2,j:0
i:2,j:1
i:2,j:2

In [118]:
'''
)))()()((( => False
()()()()()) => False
()(())()() => True
))(())(( => False
()(()))( => False
((())()) => True
'''

p_lists = [')))()()(((','()()()()())','()(())()()','))(())((','()(()))(','((())())']


for p_list in p_lists :
    print(f"괄호:{p_list}")
    t = 0
    for p in p_list :
        if p=='(' :
            t +=1
        elif p==')' :
            t -=1
        if t<0:
            break
    if t==0:
        print('결과:True')
    else :
        print('결과:False')

괄호:)))()()(((
결과:False
괄호:()()()()())
결과:False
괄호:()(())()()
결과:True
괄호:))(())((
결과:False
괄호:()(()))(
결과:False
괄호:((())())
결과:True

###5-2.while반복문

### while 반복문 기본형식

In [137]:
a = 0
while a < 5 :      #조건이 참일 동안 반복
    print(f"{a}는 5보다 작군요")
    a+=1
print(f"{a}는 5와 같군요")

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요

In [139]:
a = 0
while True :   #True적을시엔 반드시 아래에 빠져나갈 조건을 줘야함
    if a >5 :
        break
    print(f"{a}는 5보다 작군요")
    a+=1
print(f"{a}는 5와 같군요")

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5보다 작군요
6는 5와 같군요

###[실습문제

In [141]:
treeHit = 0
while treeHit < 10 :      #조건이 참일 동안 반복
    print(f"나무를 {treeHit+1}번 찍었습니다.")
    treeHit+=1
print(f"나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [144]:
treeHit = 0
while True :
    if treeHit >= 10 :
        break
    print(f"나무를 {treeHit+1}번 찍었습니다.")
    treeHit+=1
print(f"나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [148]:
treeHit = 0
while True :
    if treeHit >= 10 :
        print(f"나무 넘어갑니다.")   #여기에 써도 됨
        break
    print(f"나무를 {treeHit+1}번 찍었습니다.")
    treeHit+=1

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.