<a href="https://colab.research.google.com/github/sujag281/dataanalysis/blob/main/%EA%B0%9C%EC%9D%B8%EC%97%B0%EC%8A%B5_4_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for c in range(1,3,1) :
    print(c)

1
2

In [2]:
for b in ['파','이','썬']:
    print(b)

파
이
썬

In [3]:
test_list = ['one','two', 'three']
for i in test_list :
    print(i)

one
two
three

In [4]:
a = [(1,2),(3,4),(5,6)]
for (first,last) in a:
    print(first + last)

3
7
11

In [7]:
for _ in range(0,3,1) :
    print('for반복문 공부 중')

for반복문 공부 중
for반복문 공부 중
for반복문 공부 중

In [19]:
n = int(input('합계를 구할 숫자 입력 :'))
hap = 0
for i in range(0,n+1,1) :
    print(i)
    if i%2 != 0 :
        hap=hap+i



print(f"1~{n}까지 짝수를 제외한 합은 : {hap}")

합계를 구할 숫자 입력 :10
0
1
2
3
4
5
6
7
8
9
10
1~10까지 짝수를 제외한 합은 : 25

In [20]:
for 변수 in range(3) :
    print(변수)

0
1
2

In [24]:
a = list(range(1,11))
print(a)
a = list(range(10,0,-1))
print(a)
a = list(range(1,11))
for i in a :
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
1
2
3
4
5
6
7
8
9
10

In [26]:
for i in a :
    print(i, end =' ')

1 2 3 4 5 6 7 8 9 10

In [28]:
for i in a :
    print(i,end = ',')

1,2,3,4,5,6,7,8,9,10,

In [29]:
for i in range(1,101) :
    print(i,end = ',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [30]:
for i in 'python' :
    print(i)

p
y
t
h
o
n

In [31]:
for _ in range(3) :
    print('좋은아침!')

좋은아침!
좋은아침!
좋은아침!

In [ ]:
fruits = ['사과','포도']